* {
    user-select: none;
}

main {
    margin: 0 auto;
    max-width: 1280px;
}

ul > li {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    transition: 0.5s;
}

ul > li h1 {
    color: #637381;
}

ul > li > section:hover {
    border-color: #c4cdd5 !important;
    box-shadow: 0 2px 5px 0 rgba(99, 115, 129, 0.2), 0 6px 14px 0 rgba(99, 115, 129, 0.1),
        0 24px 24px 0 rgba(99, 115, 129, 0.04);
}

ul > li section:hover h1 {
    color: white !important;
    transition: 0.5s;
}

ul > li section:hover p {
    color: white !important;
    transition: 0.5s;
}

ul > li:first-of-type section:hover {
    background-color: #f7992b;
}

ul > li:nth-child(2) section:hover {
    background-color: #00a3b4;
}

ul > li:nth-child(3) section:hover {
    background-color: #087ded;
}

button {
    display: block;
    margin: 0 auto;
    padding: 0 1.5rem !important;
    transition: 0.5s;
}

button:hover {
    background-color: #f7992b;
    color: white !important;
    border-color: white !important;
}

@media screen and (max-width: 768px) {
    ul > li {
        margin-top: 3rem;
    }
}
