html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-col-reverse {
  flex-direction: column-reverse !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.text-xxs {
  font-size: 0.625rem !important;
}

.text-xs {
  font-size: 0.75rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-md {
  font-size: 1rem !important;
}

.text-lg {
  font-size: 1.125rem !important;
}

.text-lgx {
  font-size: 1.25rem !important;
}

.text-xl {
  font-size: 1.5rem !important;
}

.text-xxl {
  font-size: 1.875rem !important;
}

.btn {
  cursor: pointer;
  height: 2.5rem;
  padding: 0 0.25rem;
  border-radius: 3px;
  border: 1px solid #c4cdd5;
  background-color: inherit;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 0.984375rem;
}
.btn:focus, .btn:hover {
  color: black;
}
.btn-sm {
  height: 2rem;
}
.btn-md {
  height: 2.5rem;
}
.btn-lg {
  height: 3rem;
}

.m-0_25 {
  margin: 0.25rem !important;
}

.mt-0_25 {
  margin-top: 0.25rem !important;
}

.mr-0_25 {
  margin-right: 0.25rem !important;
}

.mb-0_25 {
  margin-bottom: 0.25rem !important;
}

.ml-0_25 {
  margin-left: 0.25rem !important;
}

.p-0_25 {
  padding: 0.25rem !important;
}

.pt-0_25 {
  padding-top: 0.25rem !important;
}

.pr-0_25 {
  padding-right: 0.25rem !important;
}

.pb-0_25 {
  padding-bottom: 0.25rem !important;
}

.pl-0_25 {
  padding-left: 0.25rem !important;
}

.m-0_5 {
  margin: 0.5rem !important;
}

.mt-0_5 {
  margin-top: 0.5rem !important;
}

.mr-0_5 {
  margin-right: 0.5rem !important;
}

.mb-0_5 {
  margin-bottom: 0.5rem !important;
}

.ml-0_5 {
  margin-left: 0.5rem !important;
}

.p-0_5 {
  padding: 0.5rem !important;
}

.pt-0_5 {
  padding-top: 0.5rem !important;
}

.pr-0_5 {
  padding-right: 0.5rem !important;
}

.pb-0_5 {
  padding-bottom: 0.5rem !important;
}

.pl-0_5 {
  padding-left: 0.5rem !important;
}

.m-0_75 {
  margin: 0.75rem !important;
}

.mt-0_75 {
  margin-top: 0.75rem !important;
}

.mr-0_75 {
  margin-right: 0.75rem !important;
}

.mb-0_75 {
  margin-bottom: 0.75rem !important;
}

.ml-0_75 {
  margin-left: 0.75rem !important;
}

.p-0_75 {
  padding: 0.75rem !important;
}

.pt-0_75 {
  padding-top: 0.75rem !important;
}

.pr-0_75 {
  padding-right: 0.75rem !important;
}

.pb-0_75 {
  padding-bottom: 0.75rem !important;
}

.pl-0_75 {
  padding-left: 0.75rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.m-1_25 {
  margin: 1.25rem !important;
}

.mt-1_25 {
  margin-top: 1.25rem !important;
}

.mr-1_25 {
  margin-right: 1.25rem !important;
}

.mb-1_25 {
  margin-bottom: 1.25rem !important;
}

.ml-1_25 {
  margin-left: 1.25rem !important;
}

.p-1_25 {
  padding: 1.25rem !important;
}

.pt-1_25 {
  padding-top: 1.25rem !important;
}

.pr-1_25 {
  padding-right: 1.25rem !important;
}

.pb-1_25 {
  padding-bottom: 1.25rem !important;
}

.pl-1_25 {
  padding-left: 1.25rem !important;
}

.m-1_5 {
  margin: 1.5rem !important;
}

.mt-1_5 {
  margin-top: 1.5rem !important;
}

.mr-1_5 {
  margin-right: 1.5rem !important;
}

.mb-1_5 {
  margin-bottom: 1.5rem !important;
}

.ml-1_5 {
  margin-left: 1.5rem !important;
}

.p-1_5 {
  padding: 1.5rem !important;
}

.pt-1_5 {
  padding-top: 1.5rem !important;
}

.pr-1_5 {
  padding-right: 1.5rem !important;
}

.pb-1_5 {
  padding-bottom: 1.5rem !important;
}

.pl-1_5 {
  padding-left: 1.5rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.text-primary {
  color: #00a3b4 !important;
}

.border-primary {
  border: 1px solid #00a3b4 !important;
}

.btn-primary {
  border-color: #00a3b4;
  color: #00a3b4;
}
.btn-primary:focus, .btn-primary:hover {
  border-color: #007581;
  color: #007581;
}

.text-danger {
  color: #d80238 !important;
}

.border-danger {
  border: 1px solid #d80238 !important;
}

.btn-danger {
  border-color: #d80238;
  color: #d80238;
}
.btn-danger:focus, .btn-danger:hover {
  border-color: #a5022b;
  color: #a5022b;
}

.text-warning {
  color: #087ded !important;
}

.border-warning {
  border: 1px solid #087ded !important;
}

.btn-warning {
  border-color: #087ded;
  color: #087ded;
}
.btn-warning:focus, .btn-warning:hover {
  border-color: #0663bc;
  color: #0663bc;
}

.text-info {
  color: #3ea603 !important;
}

.border-info {
  border: 1px solid #3ea603 !important;
}

.btn-info {
  border-color: #3ea603;
  color: #3ea603;
}
.btn-info:focus, .btn-info:hover {
  border-color: #2b7402;
  color: #2b7402;
}

.text-border {
  color: #c4cdd5 !important;
}

.border {
  border: 1px solid #c4cdd5;
}

.btn-border {
  border-color: #c4cdd5;
  color: #c4cdd5;
}
.btn-border:focus, .btn-border:hover {
  border-color: #a6b4c0;
  color: #a6b4c0;
}

.text-hint {
  color: #70747b !important;
}

.border-hint {
  border: 1px solid #70747b !important;
}

.btn-hint {
  border-color: #70747b;
  color: #70747b;
}
.btn-hint:focus, .btn-hint:hover {
  border-color: #585b60;
  color: #585b60;
}

@media screen and (min-width: 768px) {
  .text-md-xxs {
    font-size: 0.625rem !important;
  }

  .text-md-xs {
    font-size: 0.75rem !important;
  }

  .text-md-sm {
    font-size: 0.875rem !important;
  }

  .text-md-md {
    font-size: 1rem !important;
  }

  .text-md-lg {
    font-size: 1.125rem !important;
  }

  .text-md-lgx {
    font-size: 1.25rem !important;
  }

  .text-md-xl {
    font-size: 1.5rem !important;
  }

  .text-md-xxl {
    font-size: 1.875rem !important;
  }

  .m-md-0_25 {
    margin: 0.25rem !important;
  }

  .mt-md-0_25 {
    margin-top: 0.25rem !important;
  }

  .mr-md-0_25 {
    margin-right: 0.25rem !important;
  }

  .mb-md-0_25 {
    margin-bottom: 0.25rem !important;
  }

  .ml-md-0_25 {
    margin-left: 0.25rem !important;
  }

  .p-md-0_25 {
    padding: 0.25rem !important;
  }

  .pt-md-0_25 {
    padding-top: 0.25rem !important;
  }

  .pr-md-0_25 {
    padding-right: 0.25rem !important;
  }

  .pb-md-0_25 {
    padding-bottom: 0.25rem !important;
  }

  .pl-md-0_25 {
    padding-left: 0.25rem !important;
  }

  .m-md-0_5 {
    margin: 0.5rem !important;
  }

  .mt-md-0_5 {
    margin-top: 0.5rem !important;
  }

  .mr-md-0_5 {
    margin-right: 0.5rem !important;
  }

  .mb-md-0_5 {
    margin-bottom: 0.5rem !important;
  }

  .ml-md-0_5 {
    margin-left: 0.5rem !important;
  }

  .p-md-0_5 {
    padding: 0.5rem !important;
  }

  .pt-md-0_5 {
    padding-top: 0.5rem !important;
  }

  .pr-md-0_5 {
    padding-right: 0.5rem !important;
  }

  .pb-md-0_5 {
    padding-bottom: 0.5rem !important;
  }

  .pl-md-0_5 {
    padding-left: 0.5rem !important;
  }

  .m-md-0_75 {
    margin: 0.75rem !important;
  }

  .mt-md-0_75 {
    margin-top: 0.75rem !important;
  }

  .mr-md-0_75 {
    margin-right: 0.75rem !important;
  }

  .mb-md-0_75 {
    margin-bottom: 0.75rem !important;
  }

  .ml-md-0_75 {
    margin-left: 0.75rem !important;
  }

  .p-md-0_75 {
    padding: 0.75rem !important;
  }

  .pt-md-0_75 {
    padding-top: 0.75rem !important;
  }

  .pr-md-0_75 {
    padding-right: 0.75rem !important;
  }

  .pb-md-0_75 {
    padding-bottom: 0.75rem !important;
  }

  .pl-md-0_75 {
    padding-left: 0.75rem !important;
  }

  .m-md-1 {
    margin: 1rem !important;
  }

  .mt-md-1 {
    margin-top: 1rem !important;
  }

  .mr-md-1 {
    margin-right: 1rem !important;
  }

  .mb-md-1 {
    margin-bottom: 1rem !important;
  }

  .ml-md-1 {
    margin-left: 1rem !important;
  }

  .p-md-1 {
    padding: 1rem !important;
  }

  .pt-md-1 {
    padding-top: 1rem !important;
  }

  .pr-md-1 {
    padding-right: 1rem !important;
  }

  .pb-md-1 {
    padding-bottom: 1rem !important;
  }

  .pl-md-1 {
    padding-left: 1rem !important;
  }

  .m-md-1_25 {
    margin: 1.25rem !important;
  }

  .mt-md-1_25 {
    margin-top: 1.25rem !important;
  }

  .mr-md-1_25 {
    margin-right: 1.25rem !important;
  }

  .mb-md-1_25 {
    margin-bottom: 1.25rem !important;
  }

  .ml-md-1_25 {
    margin-left: 1.25rem !important;
  }

  .p-md-1_25 {
    padding: 1.25rem !important;
  }

  .pt-md-1_25 {
    padding-top: 1.25rem !important;
  }

  .pr-md-1_25 {
    padding-right: 1.25rem !important;
  }

  .pb-md-1_25 {
    padding-bottom: 1.25rem !important;
  }

  .pl-md-1_25 {
    padding-left: 1.25rem !important;
  }

  .m-md-1_5 {
    margin: 1.5rem !important;
  }

  .mt-md-1_5 {
    margin-top: 1.5rem !important;
  }

  .mr-md-1_5 {
    margin-right: 1.5rem !important;
  }

  .mb-md-1_5 {
    margin-bottom: 1.5rem !important;
  }

  .ml-md-1_5 {
    margin-left: 1.5rem !important;
  }

  .p-md-1_5 {
    padding: 1.5rem !important;
  }

  .pt-md-1_5 {
    padding-top: 1.5rem !important;
  }

  .pr-md-1_5 {
    padding-right: 1.5rem !important;
  }

  .pb-md-1_5 {
    padding-bottom: 1.5rem !important;
  }

  .pl-md-1_5 {
    padding-left: 1.5rem !important;
  }

  .m-md-2 {
    margin: 2rem !important;
  }

  .mt-md-2 {
    margin-top: 2rem !important;
  }

  .mr-md-2 {
    margin-right: 2rem !important;
  }

  .mb-md-2 {
    margin-bottom: 2rem !important;
  }

  .ml-md-2 {
    margin-left: 2rem !important;
  }

  .p-md-2 {
    padding: 2rem !important;
  }

  .pt-md-2 {
    padding-top: 2rem !important;
  }

  .pr-md-2 {
    padding-right: 2rem !important;
  }

  .pb-md-2 {
    padding-bottom: 2rem !important;
  }

  .pl-md-2 {
    padding-left: 2rem !important;
  }

  .m-md-3 {
    margin: 3rem !important;
  }

  .mt-md-3 {
    margin-top: 3rem !important;
  }

  .mr-md-3 {
    margin-right: 3rem !important;
  }

  .mb-md-3 {
    margin-bottom: 3rem !important;
  }

  .ml-md-3 {
    margin-left: 3rem !important;
  }

  .p-md-3 {
    padding: 3rem !important;
  }

  .pt-md-3 {
    padding-top: 3rem !important;
  }

  .pr-md-3 {
    padding-right: 3rem !important;
  }

  .pb-md-3 {
    padding-bottom: 3rem !important;
  }

  .pl-md-3 {
    padding-left: 3rem !important;
  }

  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-inline-flex {
    display: inline-flex !important;
  }

  .flex-md-col {
    flex-direction: column !important;
  }

  .flex-md-row {
    flex-direction: row !important;
  }

  .flex-md-col-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }

  .align-items-md-start {
    align-items: flex-start !important;
  }

  .align-items-md-end {
    align-items: flex-end !important;
  }

  .align-items-md-center {
    align-items: center !important;
  }

  .align-items-md-baseline {
    align-items: baseline !important;
  }

  .align-items-md-stretch {
    align-items: stretch !important;
  }

  .justify-content-md-start {
    justify-content: flex-start !important;
  }

  .justify-content-md-end {
    justify-content: flex-end !important;
  }

  .justify-content-md-center {
    justify-content: center !important;
  }

  .justify-content-md-between {
    justify-content: space-between !important;
  }

  .justify-content-md-around {
    justify-content: space-around !important;
  }
}
@media screen and (min-width: 1280px) {
  .text-xl-xxs {
    font-size: 0.625rem !important;
  }

  .text-xl-xs {
    font-size: 0.75rem !important;
  }

  .text-xl-sm {
    font-size: 0.875rem !important;
  }

  .text-xl-md {
    font-size: 1rem !important;
  }

  .text-xl-lg {
    font-size: 1.125rem !important;
  }

  .text-xl-lgx {
    font-size: 1.25rem !important;
  }

  .text-xl-xl {
    font-size: 1.5rem !important;
  }

  .text-xl-xxl {
    font-size: 1.875rem !important;
  }

  .m-xl-0_25 {
    margin: 0.25rem !important;
  }

  .mt-xl-0_25 {
    margin-top: 0.25rem !important;
  }

  .mr-xl-0_25 {
    margin-right: 0.25rem !important;
  }

  .mb-xl-0_25 {
    margin-bottom: 0.25rem !important;
  }

  .ml-xl-0_25 {
    margin-left: 0.25rem !important;
  }

  .p-xl-0_25 {
    padding: 0.25rem !important;
  }

  .pt-xl-0_25 {
    padding-top: 0.25rem !important;
  }

  .pr-xl-0_25 {
    padding-right: 0.25rem !important;
  }

  .pb-xl-0_25 {
    padding-bottom: 0.25rem !important;
  }

  .pl-xl-0_25 {
    padding-left: 0.25rem !important;
  }

  .m-xl-0_5 {
    margin: 0.5rem !important;
  }

  .mt-xl-0_5 {
    margin-top: 0.5rem !important;
  }

  .mr-xl-0_5 {
    margin-right: 0.5rem !important;
  }

  .mb-xl-0_5 {
    margin-bottom: 0.5rem !important;
  }

  .ml-xl-0_5 {
    margin-left: 0.5rem !important;
  }

  .p-xl-0_5 {
    padding: 0.5rem !important;
  }

  .pt-xl-0_5 {
    padding-top: 0.5rem !important;
  }

  .pr-xl-0_5 {
    padding-right: 0.5rem !important;
  }

  .pb-xl-0_5 {
    padding-bottom: 0.5rem !important;
  }

  .pl-xl-0_5 {
    padding-left: 0.5rem !important;
  }

  .m-xl-0_75 {
    margin: 0.75rem !important;
  }

  .mt-xl-0_75 {
    margin-top: 0.75rem !important;
  }

  .mr-xl-0_75 {
    margin-right: 0.75rem !important;
  }

  .mb-xl-0_75 {
    margin-bottom: 0.75rem !important;
  }

  .ml-xl-0_75 {
    margin-left: 0.75rem !important;
  }

  .p-xl-0_75 {
    padding: 0.75rem !important;
  }

  .pt-xl-0_75 {
    padding-top: 0.75rem !important;
  }

  .pr-xl-0_75 {
    padding-right: 0.75rem !important;
  }

  .pb-xl-0_75 {
    padding-bottom: 0.75rem !important;
  }

  .pl-xl-0_75 {
    padding-left: 0.75rem !important;
  }

  .m-xl-1 {
    margin: 1rem !important;
  }

  .mt-xl-1 {
    margin-top: 1rem !important;
  }

  .mr-xl-1 {
    margin-right: 1rem !important;
  }

  .mb-xl-1 {
    margin-bottom: 1rem !important;
  }

  .ml-xl-1 {
    margin-left: 1rem !important;
  }

  .p-xl-1 {
    padding: 1rem !important;
  }

  .pt-xl-1 {
    padding-top: 1rem !important;
  }

  .pr-xl-1 {
    padding-right: 1rem !important;
  }

  .pb-xl-1 {
    padding-bottom: 1rem !important;
  }

  .pl-xl-1 {
    padding-left: 1rem !important;
  }

  .m-xl-1_25 {
    margin: 1.25rem !important;
  }

  .mt-xl-1_25 {
    margin-top: 1.25rem !important;
  }

  .mr-xl-1_25 {
    margin-right: 1.25rem !important;
  }

  .mb-xl-1_25 {
    margin-bottom: 1.25rem !important;
  }

  .ml-xl-1_25 {
    margin-left: 1.25rem !important;
  }

  .p-xl-1_25 {
    padding: 1.25rem !important;
  }

  .pt-xl-1_25 {
    padding-top: 1.25rem !important;
  }

  .pr-xl-1_25 {
    padding-right: 1.25rem !important;
  }

  .pb-xl-1_25 {
    padding-bottom: 1.25rem !important;
  }

  .pl-xl-1_25 {
    padding-left: 1.25rem !important;
  }

  .m-xl-1_5 {
    margin: 1.5rem !important;
  }

  .mt-xl-1_5 {
    margin-top: 1.5rem !important;
  }

  .mr-xl-1_5 {
    margin-right: 1.5rem !important;
  }

  .mb-xl-1_5 {
    margin-bottom: 1.5rem !important;
  }

  .ml-xl-1_5 {
    margin-left: 1.5rem !important;
  }

  .p-xl-1_5 {
    padding: 1.5rem !important;
  }

  .pt-xl-1_5 {
    padding-top: 1.5rem !important;
  }

  .pr-xl-1_5 {
    padding-right: 1.5rem !important;
  }

  .pb-xl-1_5 {
    padding-bottom: 1.5rem !important;
  }

  .pl-xl-1_5 {
    padding-left: 1.5rem !important;
  }

  .m-xl-2 {
    margin: 2rem !important;
  }

  .mt-xl-2 {
    margin-top: 2rem !important;
  }

  .mr-xl-2 {
    margin-right: 2rem !important;
  }

  .mb-xl-2 {
    margin-bottom: 2rem !important;
  }

  .ml-xl-2 {
    margin-left: 2rem !important;
  }

  .p-xl-2 {
    padding: 2rem !important;
  }

  .pt-xl-2 {
    padding-top: 2rem !important;
  }

  .pr-xl-2 {
    padding-right: 2rem !important;
  }

  .pb-xl-2 {
    padding-bottom: 2rem !important;
  }

  .pl-xl-2 {
    padding-left: 2rem !important;
  }

  .m-xl-3 {
    margin: 3rem !important;
  }

  .mt-xl-3 {
    margin-top: 3rem !important;
  }

  .mr-xl-3 {
    margin-right: 3rem !important;
  }

  .mb-xl-3 {
    margin-bottom: 3rem !important;
  }

  .ml-xl-3 {
    margin-left: 3rem !important;
  }

  .p-xl-3 {
    padding: 3rem !important;
  }

  .pt-xl-3 {
    padding-top: 3rem !important;
  }

  .pr-xl-3 {
    padding-right: 3rem !important;
  }

  .pb-xl-3 {
    padding-bottom: 3rem !important;
  }

  .pl-xl-3 {
    padding-left: 3rem !important;
  }

  .d-xl-none {
    display: none !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-flex {
    display: flex !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-inline-flex {
    display: inline-flex !important;
  }

  .flex-xl-col {
    flex-direction: column !important;
  }

  .flex-xl-row {
    flex-direction: row !important;
  }

  .flex-xl-col-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }

  .align-items-xl-start {
    align-items: flex-start !important;
  }

  .align-items-xl-end {
    align-items: flex-end !important;
  }

  .align-items-xl-center {
    align-items: center !important;
  }

  .align-items-xl-baseline {
    align-items: baseline !important;
  }

  .align-items-xl-stretch {
    align-items: stretch !important;
  }

  .justify-content-xl-start {
    justify-content: flex-start !important;
  }

  .justify-content-xl-end {
    justify-content: flex-end !important;
  }

  .justify-content-xl-center {
    justify-content: center !important;
  }

  .justify-content-xl-between {
    justify-content: space-between !important;
  }

  .justify-content-xl-around {
    justify-content: space-around !important;
  }
}
@media screen and (min-width: 1920px) {
  .text-xxl-xxs {
    font-size: 0.625rem !important;
  }

  .text-xxl-xs {
    font-size: 0.75rem !important;
  }

  .text-xxl-sm {
    font-size: 0.875rem !important;
  }

  .text-xxl-md {
    font-size: 1rem !important;
  }

  .text-xxl-lg {
    font-size: 1.125rem !important;
  }

  .text-xxl-lgx {
    font-size: 1.25rem !important;
  }

  .text-xxl-xl {
    font-size: 1.5rem !important;
  }

  .text-xxl-xxl {
    font-size: 1.875rem !important;
  }

  .m-xxl-0_25 {
    margin: 0.25rem !important;
  }

  .mt-xxl-0_25 {
    margin-top: 0.25rem !important;
  }

  .mr-xxl-0_25 {
    margin-right: 0.25rem !important;
  }

  .mb-xxl-0_25 {
    margin-bottom: 0.25rem !important;
  }

  .ml-xxl-0_25 {
    margin-left: 0.25rem !important;
  }

  .p-xxl-0_25 {
    padding: 0.25rem !important;
  }

  .pt-xxl-0_25 {
    padding-top: 0.25rem !important;
  }

  .pr-xxl-0_25 {
    padding-right: 0.25rem !important;
  }

  .pb-xxl-0_25 {
    padding-bottom: 0.25rem !important;
  }

  .pl-xxl-0_25 {
    padding-left: 0.25rem !important;
  }

  .m-xxl-0_5 {
    margin: 0.5rem !important;
  }

  .mt-xxl-0_5 {
    margin-top: 0.5rem !important;
  }

  .mr-xxl-0_5 {
    margin-right: 0.5rem !important;
  }

  .mb-xxl-0_5 {
    margin-bottom: 0.5rem !important;
  }

  .ml-xxl-0_5 {
    margin-left: 0.5rem !important;
  }

  .p-xxl-0_5 {
    padding: 0.5rem !important;
  }

  .pt-xxl-0_5 {
    padding-top: 0.5rem !important;
  }

  .pr-xxl-0_5 {
    padding-right: 0.5rem !important;
  }

  .pb-xxl-0_5 {
    padding-bottom: 0.5rem !important;
  }

  .pl-xxl-0_5 {
    padding-left: 0.5rem !important;
  }

  .m-xxl-0_75 {
    margin: 0.75rem !important;
  }

  .mt-xxl-0_75 {
    margin-top: 0.75rem !important;
  }

  .mr-xxl-0_75 {
    margin-right: 0.75rem !important;
  }

  .mb-xxl-0_75 {
    margin-bottom: 0.75rem !important;
  }

  .ml-xxl-0_75 {
    margin-left: 0.75rem !important;
  }

  .p-xxl-0_75 {
    padding: 0.75rem !important;
  }

  .pt-xxl-0_75 {
    padding-top: 0.75rem !important;
  }

  .pr-xxl-0_75 {
    padding-right: 0.75rem !important;
  }

  .pb-xxl-0_75 {
    padding-bottom: 0.75rem !important;
  }

  .pl-xxl-0_75 {
    padding-left: 0.75rem !important;
  }

  .m-xxl-1 {
    margin: 1rem !important;
  }

  .mt-xxl-1 {
    margin-top: 1rem !important;
  }

  .mr-xxl-1 {
    margin-right: 1rem !important;
  }

  .mb-xxl-1 {
    margin-bottom: 1rem !important;
  }

  .ml-xxl-1 {
    margin-left: 1rem !important;
  }

  .p-xxl-1 {
    padding: 1rem !important;
  }

  .pt-xxl-1 {
    padding-top: 1rem !important;
  }

  .pr-xxl-1 {
    padding-right: 1rem !important;
  }

  .pb-xxl-1 {
    padding-bottom: 1rem !important;
  }

  .pl-xxl-1 {
    padding-left: 1rem !important;
  }

  .m-xxl-1_25 {
    margin: 1.25rem !important;
  }

  .mt-xxl-1_25 {
    margin-top: 1.25rem !important;
  }

  .mr-xxl-1_25 {
    margin-right: 1.25rem !important;
  }

  .mb-xxl-1_25 {
    margin-bottom: 1.25rem !important;
  }

  .ml-xxl-1_25 {
    margin-left: 1.25rem !important;
  }

  .p-xxl-1_25 {
    padding: 1.25rem !important;
  }

  .pt-xxl-1_25 {
    padding-top: 1.25rem !important;
  }

  .pr-xxl-1_25 {
    padding-right: 1.25rem !important;
  }

  .pb-xxl-1_25 {
    padding-bottom: 1.25rem !important;
  }

  .pl-xxl-1_25 {
    padding-left: 1.25rem !important;
  }

  .m-xxl-1_5 {
    margin: 1.5rem !important;
  }

  .mt-xxl-1_5 {
    margin-top: 1.5rem !important;
  }

  .mr-xxl-1_5 {
    margin-right: 1.5rem !important;
  }

  .mb-xxl-1_5 {
    margin-bottom: 1.5rem !important;
  }

  .ml-xxl-1_5 {
    margin-left: 1.5rem !important;
  }

  .p-xxl-1_5 {
    padding: 1.5rem !important;
  }

  .pt-xxl-1_5 {
    padding-top: 1.5rem !important;
  }

  .pr-xxl-1_5 {
    padding-right: 1.5rem !important;
  }

  .pb-xxl-1_5 {
    padding-bottom: 1.5rem !important;
  }

  .pl-xxl-1_5 {
    padding-left: 1.5rem !important;
  }

  .m-xxl-2 {
    margin: 2rem !important;
  }

  .mt-xxl-2 {
    margin-top: 2rem !important;
  }

  .mr-xxl-2 {
    margin-right: 2rem !important;
  }

  .mb-xxl-2 {
    margin-bottom: 2rem !important;
  }

  .ml-xxl-2 {
    margin-left: 2rem !important;
  }

  .p-xxl-2 {
    padding: 2rem !important;
  }

  .pt-xxl-2 {
    padding-top: 2rem !important;
  }

  .pr-xxl-2 {
    padding-right: 2rem !important;
  }

  .pb-xxl-2 {
    padding-bottom: 2rem !important;
  }

  .pl-xxl-2 {
    padding-left: 2rem !important;
  }

  .m-xxl-3 {
    margin: 3rem !important;
  }

  .mt-xxl-3 {
    margin-top: 3rem !important;
  }

  .mr-xxl-3 {
    margin-right: 3rem !important;
  }

  .mb-xxl-3 {
    margin-bottom: 3rem !important;
  }

  .ml-xxl-3 {
    margin-left: 3rem !important;
  }

  .p-xxl-3 {
    padding: 3rem !important;
  }

  .pt-xxl-3 {
    padding-top: 3rem !important;
  }

  .pr-xxl-3 {
    padding-right: 3rem !important;
  }

  .pb-xxl-3 {
    padding-bottom: 3rem !important;
  }

  .pl-xxl-3 {
    padding-left: 3rem !important;
  }

  .d-xxl-none {
    display: none !important;
  }

  .d-xxl-block {
    display: block !important;
  }

  .d-xxl-flex {
    display: flex !important;
  }

  .d-xxl-inline-block {
    display: inline-block !important;
  }

  .d-xxl-inline-flex {
    display: inline-flex !important;
  }

  .flex-xxl-col {
    flex-direction: column !important;
  }

  .flex-xxl-row {
    flex-direction: row !important;
  }

  .flex-xxl-col-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-xxl-row-reverse {
    flex-direction: row-reverse !important;
  }

  .align-items-xxl-start {
    align-items: flex-start !important;
  }

  .align-items-xxl-end {
    align-items: flex-end !important;
  }

  .align-items-xxl-center {
    align-items: center !important;
  }

  .align-items-xxl-baseline {
    align-items: baseline !important;
  }

  .align-items-xxl-stretch {
    align-items: stretch !important;
  }

  .justify-content-xxl-start {
    justify-content: flex-start !important;
  }

  .justify-content-xxl-end {
    justify-content: flex-end !important;
  }

  .justify-content-xxl-center {
    justify-content: center !important;
  }

  .justify-content-xxl-between {
    justify-content: space-between !important;
  }

  .justify-content-xxl-around {
    justify-content: space-around !important;
  }
}
h1 {
  line-height: 1.25rem;
  font-size: 1.5rem;
}

h2 {
  line-height: 1.25rem;
  font-size: 1.25rem;
}

h3 {
  line-height: 1.125rem;
  font-size: 1rem;
}

ol {
  list-style: decimal;
}

ol,
ul {
  list-style-position: inside;
}

a[href] {
  font-size: 0.75rem;
  font-weight: "bold";
  line-height: 0.84375rem;
  color: #637381;
  text-decoration: none;
}
a:hover {
  color: #212b36;
  transition: 0.5s;
}

header {
  height: 2rem;
  padding: 0 0.5rem;
  box-shadow: 0px 3px 5px 0px rgba(236, 238, 241, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
header + main {
  height: calc(100vh - 2rem);
}

main {
  box-sizing: border-box;
  padding: 0.5rem;
  height: 100vh;
  overflow: auto;
}
main::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
}
main::-webkit-scrollbar-thumb {
  background: #dfe3e8;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
