.btn {
    cursor: pointer;
    height: 2.5rem;
    padding: 0 0.25rem;
    border-radius: 3px;
    border: 1px solid $link-water;
    background-color: inherit;
    @include font-size("sm");
    &:focus,
    &:hover {
        color: darken($midnight, 30%);
    }

    @each $key, $value in $btn-size {
        &-#{$key} {
            height: $value;
        }
    }

    @each $key, $value in $theme-colors {
        &-#{$key} {
            border-color: $value;
            color: $value;
            &:focus,
            &:hover {
                border-color: darken($value, 10%);
                color: darken($value, 10%);
            }
        }
    }
}
