.btn {
    cursor: pointer;
    height: 2.5rem;
    padding: 0 0.25rem;
    border-radius: 3px;
    border: 1px solid $link-water;
    background-color: inherit;
    white-space: nowrap;
    @include font-size("sm");
    &:not(:disabled) {
        &:focus,
        &:hover {
            color: darken($midnight, 30%);
        }
    }

    &:disabled {
        background-color: $white;
        border-color: $link-water;
        color: $link-water;
        cursor: not-allowed;
    }

    @each $key, $value in $btn-size {
        &-#{$key} {
            height: $value;
        }
    }
}
