@each $level, $value in $layout-level {
    @media screen and (min-width: $value) {
        @each $key, $value in $font-level {
            .text-#{$level} {
                &-#{$key} {
                    font-size: $value !important;
                }
            }
        }

        @each $key, $value in $space {
            .m-#{$level} {
                &-#{$key} {
                    margin: $value !important;
                }
            }
            .mt-#{$level} {
                &-#{$key} {
                    margin-top: $value !important;
                }
            }
            .mr-#{$level} {
                &-#{$key} {
                    margin-right: $value !important;
                }
            }
            .mb-#{$level} {
                &-#{$key} {
                    margin-bottom: $value !important;
                }
            }
            .ml-#{$level} {
                &-#{$key} {
                    margin-left: $value !important;
                }
            }
            .p-#{$level} {
                &-#{$key} {
                    padding: $value !important;
                }
            }
            .pt-#{$level} {
                &-#{$key} {
                    padding-top: $value !important;
                }
            }
            .pr-#{$level} {
                &-#{$key} {
                    padding-right: $value !important;
                }
            }
            .pb-#{$level} {
                &-#{$key} {
                    padding-bottom: $value !important;
                }
            }
            .pl-#{$level} {
                &-#{$key} {
                    padding-left: $value !important;
                }
            }
        }

        @each $key, $value in $display-types {
            .d-#{$level}-#{$key} {
                display: $value !important;
            }
        }

        @each $key, $value in $flex-types {
            .flex-#{$level}-#{$key} {
                flex-direction: $value !important;
            }
        }

        @each $key, $value in $align-items-types {
            .align-items-#{$level}-#{$key} {
                align-items: $value !important;
            }
        }

        @each $key, $value in $justify-content-types {
            .justify-content-#{$level}-#{$key} {
                justify-content: $value !important;
            }
        }
    }
}
