@import "reset";
@import "colors";
@import "variables";
@import "libary";
@import "general";
@import "text";
@import "button";
@import "form";
@import "spacing";
@import "themes";
@import "rwd";

h1 {
    @include font-title(1);
}

h2 {
    @include font-title(2);
}

h3 {
    @include font-title(3);
}

p {
    @include font-size("md");
}

ol {
    list-style: decimal;
}

ol,
ul {
    list-style-position: inside;
}

a {
    &[href] {
        @include font-size("xs", "bold");
        color: $dark-gray-blue;
        text-decoration: none;
    }

    &:hover {
        color: $midnight;
        transition: 0.5s;
    }
}

header {
    height: 2rem;
    padding: 0 0.5rem;
    box-shadow: 0px 3px 5px 0px rgb(236 238 241 / 60%);
    background-color: $background-color;
    font-weight: bold;
    @include flex-box;
    & + main {
        height: calc(100vh - 2rem);
    }

    & > nav {
        & > a {
            &:not(:last-of-type) {
                padding-right: 0.5rem;
                border-right: 1px solid $link-water;
            }
            &:not(:first-of-type) {
                padding-left: 0.5rem;
            }
        }
    }
}

main {
    box-sizing: border-box;
    padding: 0.5rem;
    height: 100vh;
    @include scroll;
}

.scroll {
    @include scroll;
}
