@each $key, $value in $theme-colors {
    .text {
        &-#{$key} {
            color: $value !important;
        }
    }

    .border {
        @if $key == border {
            border: 1px solid map-get($theme-colors, border);
        } @else {
            &-#{$key} {
                border: 1px solid $value !important;
            }
        }
    }

    .btn {
        &-#{$key} {
            border-color: $value;
            color: $value;
            &:not(:disabled) {
                &:focus,
                &:hover {
                    border-color: darken($value, 10%);
                    color: darken($value, 10%);
                }
            }
        }
    }
}
