$base-space: 1rem;

$font-level: (
    xxs: 0.625rem,
    xs: 0.75rem,
    sm: 0.875rem,
    md: 1rem,
    lg: 1.125rem,
    lgx: 1.25rem,
    xl: 1.5rem,
    xxl: 1.875rem,
);

$btn-size: (
    sm: 2rem,
    md: 2.5rem,
    lg: 3rem,
);

$theme-colors: (
    primary: $orange,
    secondary: $aqua-green,
    danger: $carmine,
    warning: $azure,
    info: $water-grass,
    border: $link-water,
    hint: $gray,
    article: $dark-gray-blue,
);

$space: (
    0_25: 0.25 * $base-space,
    0_5: 0.5 * $base-space,
    0_75: 0.75 * $base-space,
    1: 1 * $base-space,
    1_25: 1.25 * $base-space,
    1_5: 1.5 * $base-space,
    2: 2 * $base-space,
    3: 3 * $base-space,
);

$layout-level: (
    md: 768px,
    xl: 1280px,
    xxl: 1920px,
);

$display-types: (
    none: none,
    block: block,
    flex: flex,
    inline-block: inline-block,
    inline-flex: inline-flex,
);

$flex-types: (
    col: column,
    row: row,
    col-reverse: column-reverse,
    row-reverse: row-reverse,
);

$align-items-types: (
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch,
);

$justify-content-types: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
);

$text-align-types: (
    left: left,
    center: center,
    right: right,
);

$font-weight-types: (
    bold: bold,
    normal: normal,
    light: "light",
);
