main {
    height: 100vh;
    max-width: 1280px;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.w-100 {
    width: 100%;
}

.btn {
    padding: 0 1rem;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 40px;
    max-height: 300px;
}

#memo > textarea {
    height: 300px;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}
