.calculator {
    margin: 0 auto;
    width: 16rem;
    box-shadow: 0 1px 2px 0 rgba(236, 238, 241, 0.6);
}

.calculator__screen {
    border: none;
    height: 3rem;
    width: 100%;
    background-color: #dfe3e8;
}

.calculator__cell {
    height: 4rem;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.calculator__cell:hover {
    border: 1px solid #c4cdd5;
}

.calculator__operator > input:checked + label {
    color: white;
    background-color: #087ded;
}

.calculator__operator > label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
